.CarouselBtnPrev,
.CarouselBtnFrw {
    position: absolute;
    top: 25%;
    width: 30px;
    height: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.CarouselBtnFrw {
    right: 0px;
}

.CarouselBtnPrev {
    z-index: 5;
    left: 0px;
}

.CarouselBtnPrev:hover,
.CarouselBtnFrw:hover {
    animation: CBHover 0.2s ease-in-out forwards;
    cursor: pointer;
}

@keyframes CBHover {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media (min-width: 400px) {

    .CarouselBtnPrev,
    .CarouselBtnFrw {
        height: 50px;
        width: 50px;
        top: 30%;
    }

    .CarouselBtnFrw {
        right: 20%;
        padding: 10px;
    }

    .CarouselBtnPrev {
        left: 20%;
        padding-left: 15px;
    }
}